body {
  height: 100%;
  width: 100%;
	padding: 0;
	background: hsl(0, 100%, 74%);
	color: white;
	font-size: 16px;
	font-family: 'Poppins', sans-serif;
}

.container{
	display: flex;
	flex-direction: row;
	flex: wrap; wrap;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background: url(images/bg-intro-desktop.png);
}

.item1, .item2{
	width: 375px;
	margin: 10px 20px;
}

.item2{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

form div{
	background: white;
	border: none;
	border-radius: 10px;
	padding: 20px 20px 10px 20px;
	color: darkgray;
}

fieldset{
	border: none;
}

input{
/* 	width: c */
	width: -webkit-fill-available;
	position: relative;
  overflow: hidden;
	padding: 5px 10px;
	font-family: 'Poppins', sans-serif;
	border: 1px solid gray;
	border-radius: 5px;
}

#contact-submit{
	width: 100%;
	background-color: hsl(154, 59%, 51%);
	color: white;
	padding: 5px 10px;
	border-radius: 5px;
	border: none;
	font-size: 16px;
	font-family: 'Poppins', sans-serif;
}

button{
	width: 100%;
	background-color: hsl(248, 32%, 49%);
	color: white;
	padding: 10px 10px;
	border-radius: 5px;
	margin: 15px 0;
	border: none;
	font-size: 16px;
	font-family: 'Poppins', sans-serif;
	box-shadow: 1px 2px hsl(249, 10%, 26%);
}

a{ 
	color:hsl(0, 100%, 50%);
	text-decoration: none;
 }

/*media queries  */
@media screen and (max-width: 375px) {
	.container{
		flex-direction: column;
		background: url(images/bg-intro-mobile.png);
	}
	
	.item1, .item2{
	width: 100vw;
	margin: 10px 50px;
		padding: 10px 20px;
}
}